body{
  background: #102a54;
}
#sky{
    position: absolute;
    z-index: 50;
}
.tree{
    width: 100%;
    text-align: center;
}
img{
    position: absolute;
    z-index: 100;
}
#othersky{
    position: absolute;
    z-index: 150;
}